#dialogUpdate {
	.dialog-main-content {
		min-width: 600px;
	}

	.dialog-body {
		.role-selection {
			display: flex;
			width: 100%;
			line-height: 35px;
			text-indent: 0px;
			padding: 0px;
			margin-bottom: 16px;

			.role-wrapper {
				margin-left: 0%;
				width: 50%;

				margin-bottom: 4px;
				
				.checkbox-label {
					margin-bottom: 0;
					font-weight: 400;
					line-height: 31px;
					cursor: pointer;
				}

				.input-wrapper {
					display: flex;
					align-items: center;
				}
			}
		}
	}

	.sub-header {
		text-align: left;
		display: flex;
		margin-bottom: 4px;
		margin-top: 4px;

		p {
			margin: 0px !important;
			color: rgb(27, 28, 30) !important;
		}
	}

	.container {
		display: flex;
		align-items: center;
		position: relative;
		padding: 1px 0 0 32px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		height: 100%;
	}

	.avatar {
		border-radius: 50%;
	}
}

.ms-col label {
	color: #212121;
}

label {
	text-align: left !important;
	display: flex !important;
	align-items: center !important;
}

.ms-checkbox--input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ms-checkbox .ms-checkbox--input {
	height: inherit;
}

.ms-checkbox .checkmark {
	top: 0;
}

.con-slot-label {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}
.con-slot-label {
	text-overflow: ellipsis !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
	font-weight: 400;
}

.ms-checkbox:focus .checkmark:not(.disabled),
.ms-checkbox:focus .icon-square-check-primary.checkmark,
.ms-checkbox:hover .checkmark:not(.disabled),
.ms-checkbox:hover .icon-square-check-primary.checkmark {
	border-radius: 50%;
	background-color: $blue-color !important;
}

.ms-checkbox:focus .checkmark:not(.disabled),
.ms-checkbox:focus .icon-square-check-primary.checkmark,
.ms-checkbox:hover .checkmark:not(.disabled),
.ms-checkbox:hover .icon-square-check-primary.checkmark {
	border-radius: 50%;
	background-color: $blue-color !important;
}

span.required {
	color: #e54848;
}

.role-selection {
	// display: grid;
	// grid-template-columns: repeat(1fr, 2);
	// grid-template-rows: repeat(1fr, 2);
}

.role-wrapper {
	display: flex;
	align-items: center;

	input[type="checkbox"] {
		appearance: none;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		border: 2px solid #686c7b;
		background: #fff;

		position: relative;
		cursor: pointer;
	}

	input[type="checkbox"]:hover {
		border-color: $blue-color;
	}

	input[type="checkbox"]:checked {
		background-color: $blue-color;
		border-color: $blue-color;
	}
	input[type="checkbox"]:checked::after {
		display: inline-block;
	}

	input[type="checkbox"]::after {
		content: "✔";
		position: absolute;
		top: -1px;
		left: 0;
		width: 16px;
		height: 16px;
		color: #fff;
		transform: rotate(6deg);
		display: none;
	}

	label {
		margin-left: 16px;
	}

	label:hover {
		color: $blue-color;
	}
}

// fallback
.icon-run-process,
.icon-upload-file {
	-webkit-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon-run-process {
	width: 20px;
	height: 20px;
	-webkit-mask-position: -136px -97px;
	-moz-mask-position: -136px -97px;
	-ms-mask-position: -136px -97px;
	-o-mask-position: -136px -97px;
	mask-position: -136px -97px;
	background-color: #fff !important;
}

.icon-square-check-primary,
.icon-square-uncheck {
	display: block;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");

	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon-square-uncheck {
	width: 23px;
	-webkit-mask-position: -532px 2px;
	-moz-mask-position: -532px 2px;
	-ms-mask-position: -532px 2px;
	-o-mask-position: -532px 2px;
	mask-position: -532px 2px;
	background-color: #686c7b !important;
}

.checkmark {
	position: absolute;
	left: 0;
	height: 26px;
	width: 22px;
}

.icon-plus-blue {
	transform: scale(0.5);

	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-position: -168px 0;
	-moz-mask-position: -168px 0;
	-ms-mask-position: -168px 0;
	-o-mask-position: -168px 0;
	mask-position: -168px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #02a3ec !important;
}

.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
i {
	display: block;
}
.mi-close-2 {
	-webkit-mask-position: -153px -251px !important;
	-webkit-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
}

.mi-pencil {
	width: 24px !important;
	height: 24px !important;
	background: url("../../../assets/img/Icon.de5bb0db.svg") -216px 0 no-repeat !important;
}

.icon-delete,
.icon-delete-custom {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	mask-image: url("../../../assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-position: -264px 0;
	-moz-mask-position: -264px 0;
	-ms-mask-position: -264px 0;
	-o-mask-position: -264px 0;
	mask-position: -264px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	mask-image: url("../../../assets/img/Icon.de5bb0db.svg");

	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-chevron-down {
	background-color: $icon-default-color !important;
}
.mi-chevron-down,
.mi-chevron-down-black {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	mask-image: url("../../../assets/img/Icon.de5bb0db.svg");

	-webkit-mask-position: -144px -24px;
	-moz-mask-position: -144px -24px;
	-ms-mask-position: -144px -24px;
	-o-mask-position: -144px -24px;
	mask-position: -144px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-check {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	mask-image: url("../../../assets/img/Icon.de5bb0db.svg");
	-webkit-mask-position: -48px -96px;
	-moz-mask-position: -48px -96px;
	-ms-mask-position: -48px -96px;
	-o-mask-position: -48px -96px;
	mask-position: -48px -96px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: $blue-color !important;
}
