:root {
	--input-hover-border-color: #02a3ec;
	--input-active-border-color: #02a3ec;
}
.datagrid-wrapper {
}

.custom-column-wrapper {
	height: 36px;
	width: auto;
}

/* custom tag box */
.dx-tag-content {
	background-color: #c5e5ff;
	height: 24px !important;
	margin: 5px 0 0 4px !important;
}

.dx-tag-remove-button::after {
	background: #1e83db !important;
}

.dx-tag-remove-button::before {
	background: #1e83db !important;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
	background-color: #d7edff;
	margin-top: 3px;
	color: #333;
}

.dx-scrollable {
	height: unset;
}