/* --------------------------------- HEADER --------------------------------- */
.m-header .m-header-left {
	display: flex;
	align-items: center;
	position: relative;
}

.m-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m-header .m-header-left-hybrid {
	height: var(--header-height);
	width: var(--sidebar-width);
	background-color: var(--sidebar-bg-color);
	display: flex;
	align-items: center;
	padding-top: 8px;
}

.m-header .m-header-left-hybrid .m-header-left-hybrid-icon {
	display: inline-block;
	color: #fff;
	margin-right: 16px;
	margin-left: 24px;

	background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;
	width: 24px;
	height: 24px;
}

.m-header .m-header-left-hybrid .m-header-left-hybrid-brand {
	display: inline-block;
	width: 96px;
}

.m-header .m-header-left .m-header-left-select {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.m-header .m-header-left .m-header-left-select-text {
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 600;
	max-width: 600px;
	text-overflow: ellipsis;
	transition: all 0.2s ease;
	font-size: 14px;
	color: #111;
}

.m-header .m-header-left .m-header-left-select-icon {
	background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat;
	background-position: -80px -360px;
	transform: rotate(90deg);
	margin-left: 10px;

	width: 14px;
	height: 14px;
	min-width: 14px;
	min-height: 14px;
}

.m-header .m-header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-right: 20px;
}

.m-header .m-header-right .m-header-right-notification {
	background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat;
	background-position: -788px -30px;
	cursor: pointer;

	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;

	margin: 0 10px;
}

.m-header .m-header-right .m-header-right-account-wrapper {
	    border: unset;
    color: unset;
    background: unset;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 16px;
}

.m-header .m-header-right .m-header-right-account-avatar {
	width: 32px;
	height: 32px;
	min-width: 32px;
	min-height: 32px;
	border-radius: 50%;
	background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat;
	background-position: -352px -894px;
	cursor: pointer;
	margin-right: 6px;
}

.m-header .m-header-right .m-header-right-account-name {
	color: #111;
	font-size: 14px;
	margin-right: 8px;

	white-space: nowrap;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 0;
	font-weight: 600;
}

.m-header .m-header-right .m-header-right-account-icon {
	background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat;
	background-position: -1076px -32px;
	cursor: pointer;

	    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
}
