.ms-select-box {
	border: 1px solid $border-color;
}
#userCreateNewWrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 20;
	background: rgba(0, 0, 0, 0.4);

	display: flex;
	justify-content: center;
	align-items: center;

	.pop-up-content {
		border: 1px solid #ddd;
		background: #fff;

		box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
		color: $text-primary-color;

		min-width: 200px;
		width: 94vw;
		height: 90vh;
		border-radius: 4px;
		display: flex;
		flex-direction: column;

		max-height: 90vh;
		overflow: auto;
	}
}

header.header {
	padding: 24px 24px 20px 24px !important;

	.header-title {
		letter-spacing: 0.576px;
		font-size: 20px;
		font-weight: 700;
		color: #212121;
	}
}

main.main-content {
	color: $text-primary-color;
	flex-grow: 1;
	padding: 0 24px 24px 24px !important;
}

.btn-icon-1 {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 36px !important;
	height: 36px !important;
	border-radius: 50% !important;
	border: none !important;
	outline: none !important;
}
.popup-show-enpand-table .popup-icon-close {
	margin-right: -8px !important;
}

// main table
.datagrid-wrapper {
	// overflow: auto;
	max-height: calc(90vh - 220px);
	position: relative;

	table {
		min-width: 100%;
		max-width: 150%;
		border: 1px solid $border-color;
		border-spacing: 0;
		border-radius: 4px;

		thead tr {
			background-color: #f3f8ff;
			height: 56px;
			text-align: left;

			position: sticky;
			z-index: 1;
			top: 0;
			left: 0;
		}
		th {
			padding: 6px;
			position: relative;
			.table-header-content {
				padding: 0 16px;
			}
		}
		th::after {
			content: "";
			position: absolute;
			top: 30%;
			left: 0;
			background-color: var(--border-color);
			width: 1px;
			height: 20px;
			z-index: 1;
		}
		th:first-child::after {
			display: none;
		}

		tbody {
			td {
				padding: 10px;
				border-bottom: 1px solid $border-color;
			}
			tr:hover {
				background: $table-row-hover;
				cursor: pointer;
			}
			tr:last-child td {
				border-color: transparent;
			}
		}

		thead th:not(:first-of-type),
		tbody td:not(:first-of-type) {
			min-width: 200px;
			// min-width: 300px;
		}

		thead th:first-of-type,
		tbody td:first-of-type {
			text-align: center;
			max-width: 60px;
		}

		thead th:nth-of-type(7),
		tbody td:nth-of-type(7) {
			width: 220px;
			min-width: 220px;
			max-width: 400px;
			max-height: 100px;
		}
	}
}
.required {
	color: red;
}
// end of main table

.btn-new-column {
	font-weight: 500;
	color: rgb(2, 163, 236);
	cursor: pointer;
	align-items: center;
	margin-top: 16px;
	display: inline-flex;
}

.pop-up-footer {
	display: flex;
	justify-content: flex-end;
	background: #f2f2f2;
	padding: 12px 24px;
	border-radius: 0 0 8px 8px;
	height: 60px;
}

.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
	-moz-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
	-ms-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
	-o-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
	mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-close-2 {
	-webkit-mask-position: -153px -251px !important;
	-webkit-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
}
.btn-icon-1 {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 36px !important;
	height: 36px !important;
	border-radius: 50% !important;
	border: none !important;
	outline: none !important;
}
.popup-icon-close {
	margin-right: -8px !important;
}

.tooltip-container,
.con-ms-tooltip {
	width: 100%;
	height: 100%;
}

i {
	display: block;
}

.icon-plus-blue {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-moz-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-ms-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-o-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-webkit-mask-position: -168px 0;
	-moz-mask-position: -168px 0;
	-ms-mask-position: -168px 0;
	-o-mask-position: -168px 0;
	mask-position: -168px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #02a3ec !important;

	transform: scale(0.5);
}

#userCreateNewWrapper {
	.ms-input .ms-input-item {
		height: 100%;
		border: none;
		width: 100%;
		padding: 0 12px;
		border-radius: 3.5px;
		border: 1px solid #e7e8e9;
	}

	.ms-input {
		height: 100%;
		border: none;
		border-radius: 3.5px;
		background: #fff;
		min-height: 36px;
		align-items: center;
		display: flex;

		position: relative;
	}
	.ms-input .ms-input-item:hover {
		border: 1px solid $input-hover-border-color;
	}
	.ms-input .ms-input-item:focus-within {
		border: 1px solid $input-active-border-color;
	}
	.ms-input .ms-input-item {
		height: 100%;
		width: 100%;
		padding: 0 12px;
	}

	.dx-texteditor.invalid {
		border-color: red !important;
	}

	.btn-cancel {
		cursor: pointer;
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		right: -8px;

		&:hover {
			background-color: #eff1f6;
			border-radius: 50%;
		}

		.btn-cancel-icon {
			background: #686c7b;

			width: 24px;
			height: 24px;
			-webkit-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
			-moz-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
			-ms-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
			-o-mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
			mask-image: url(../../../../assets/img/Icon.de5bb0db.svg);
			-webkit-mask-position: -216px -24px;
			-moz-mask-position: -216px -24px;
			-ms-mask-position: -216px -24px;
			-o-mask-position: -216px -24px;
			mask-position: -216px -24px;
			-webkit-mask-repeat: no-repeat;
			-moz-mask-repeat: no-repeat;
			-ms-mask-repeat: no-repeat;
			-o-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
		}
	}
}

.ms-button.ms-button-filled.ms-button-secondary:hover {
	background-color: #dbf4ff;
	color: #02a3ec;
	border: 1px solid #eaebef;
}
.ms-button.ms-button-filled.ms-button-danger:focus,
.ms-button.ms-button-filled.ms-button-danger:hover {
	background-color: #d81010;
	color: #fff;
	border: 1px solid #d81010;
}
.ms-button.ms-button-filled.ms-button-danger {
	background-color: #e61d1d;
	color: #fff;
	border: 1px solid #e61d1d;
}
.ms-button.ms-button-filled.ms-button-secondary:active,
.ms-button.ms-button-filled.ms-button-secondary:focus {
	background-color: #f5f5f5;
	color: #02a3ec;
	border: 1px solid #eaebef;
}
.ms-button.ms-button-filled.ms-button-danger.active,
.ms-button.ms-button-filled.ms-button-danger:active {
	background-color: rgba(196, 13, 13, 0.1568627451);
	color: #fff;
	border: 1px solid #c40d0d;
}

.column-delete-btn {
	position: sticky;
	right: 0;
}

// dialog warning change
.warning-change-body {
	font-weight: 500;
	font-size: 15px;
	margin: 8px 0;
}
.warning-change-footer {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;

	.warning-change-footer-buttons {
		display: flex;
	}
}

// icon xoa dong

#userCreateNewWrapper table tbody tr:hover .btn-delete-row {
	display: flex;
}

.btn-delete-row {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 10;
	background: #fff;
	transform: translateY(-50%);

	display: none;
}
.btn-delete-row:hover {
	background-color: #dadce3;
}
.icon-delete-custom {
	background-color: #de1e1e !important;
}
.icon-delete,
.icon-delete-custom {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-moz-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-ms-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-o-mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	mask-image: url(../../../../assets/img/Icon_process.93f7e484.svg);
	-webkit-mask-position: -264px 0;
	-moz-mask-position: -264px 0;
	-ms-mask-position: -264px 0;
	-o-mask-position: -264px 0;
	mask-position: -264px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
