// pop up adjust column ---------------------------------------------------------------------------------------
// header
#adjust-colum-popover {
	margin: -20px;
}

#adjust-colum-popover .header {
	min-height: 108px;
	height: 108px;
	padding: 16px;
}

#adjust-colum-popover .title {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.324px;
	color: $text-primary-color;
}
.btn-icon-1 {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 36px !important;
	height: 36px !important;
	border-radius: 50% !important;
	border: none !important;
	outline: none !important;
	cursor: pointer;
}
.btn-icon-1:hover {
	background-color: #eff1f6 !important;
}
.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url(../assets/img/Icon.de5bb0db.svg);
	-moz-mask-image: url(../assets/img/Icon.de5bb0db.svg);
	-ms-mask-image: url(../assets/img/Icon.de5bb0db.svg);
	-o-mask-image: url(../assets/img/Icon.de5bb0db.svg);
	mask-image: url(../assets/img/Icon.de5bb0db.svg);
	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
// end of header

// main
#adjust-colum-popover {
	.list-group-wrap {
		padding-left: 16px;
		border-bottom: 1px solid $border-color;
	}

	.list-group {
		max-height: 560px;
		min-height: 250px;
		height: auto;

		.list-group-item {
			border-radius: 6px;
			padding: 8px;

			// input wrapper here
			//
			.mi-drag {
				opacity: 0;
			}
		}
	}

	.no-data-wrapper {
		height: 250px;
		display: none;
	}
}

.popup-option-wrapper {
	display: flex;
	align-items: center;
	padding-left: 3px;

	input[type="checkbox"] {
		appearance: none;
		width: 16px;
		height: 16px;
		border-radius: 2px;
		border: 2px solid #686c7b;
		background: #fff;

		position: relative;
		cursor: pointer;
	}

	input[type="checkbox"]:hover {
		border-color: $blue-color;
	}

	input[type="checkbox"]:checked {
		background-color: $blue-color;
		border-color: $blue-color;
	}
	input[type="checkbox"]:checked::after {
		display: inline-block;
	}

	input[type="checkbox"]::after {
		content: "✔";
		position: absolute;
		top: -1px;
		left: 0;
		width: 16px;
		height: 16px;
		color: #fff;
		transform: rotate(6deg);
		display: none;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
	}

	.checkbox-label {
		margin-left: 16px;
	}

	.checkbox-label:hover {
		color: $blue-color;
	}

	input[type="checkbox"][disabled]:checked {
		opacity: 0.5;
	}
}

.icon-emrty-request,
.mi-drag {
	-webkit-mask-image: url(../assets/img/Icon_process.93f7e484.svg);
	-moz-mask-image: url(../assets/img/Icon_process.93f7e484.svg);
	-ms-mask-image: url(../assets/img/Icon_process.93f7e484.svg);
	-o-mask-image: url(../assets/img/Icon_process.93f7e484.svg);
	mask-image: url(../assets/img/Icon_process.93f7e484.svg);
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
.mi-drag {
	width: 24px;
	height: 24px;
	-webkit-mask-position: -488px -1px;
	-moz-mask-position: -488px -1px;
	-ms-mask-position: -488px -1px;
	-o-mask-position: -488px -1px;
	mask-position: -488px -1px;
	background-color: $icon-default-color !important;
}
// end of main

// footer
#adjust-colum-popover {
	footer {
		.comand-wrap {
			display: flex;
			background: #f1f5f9;
			align-items: center;
			min-height: 60px;
			height: 60px;
			padding: 12px 20px 12px 0;
		}
	}
}
// end of footer
// end of pop up adjust column ---------------------------------------------------------------------------------------
