:root {
	--primary-color: #2ca01c;
	--primary-hover-color: #35bf22;
	--blue-color: #0075c0;
	--header-height: 48px;
	--sidebar-width: 180px;
	--input-height: 32px;
	--sidebar-collapse-width: 52px;
	--sidebar-bg-color: #393a3d;
	--text-color: #111;
}
