/* horizontal scrollbar */
.dx-scrollable-scrollbar {
	border-radius: 10px !important;
}
.dx-scrollable-scroll-content {
	background: #d2d8df !important;
	border-radius: 10px !important;
}
/* end of horizontal scrollbar */

/* vertical scrollbar */

.dx-scrollable-scrollbar {
    border-radius: 10px !important;
}
.dx-scrollbar-vertical .dx-scrollable-scroll {
    width: 12px !important;
}
/* end of vertical scrollbar */
