.icon-run-process,
.icon-upload-file {
	-webkit-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon-run-process {
	width: 20px;
	height: 20px;
	-webkit-mask-position: -136px -97px;
	-moz-mask-position: -136px -97px;
	-ms-mask-position: -136px -97px;
	-o-mask-position: -136px -97px;
	mask-position: -136px -97px;
	background-color: #fff !important;
}

.icon-square-check-primary,
.icon-square-uncheck {
	display: block;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	mask-image: url("/assets/img/Icon_process.93f7e484.svg");

	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon-square-uncheck {
	width: 23px;
	-webkit-mask-position: -532px 2px;
	-moz-mask-position: -532px 2px;
	-ms-mask-position: -532px 2px;
	-o-mask-position: -532px 2px;
	mask-position: -532px 2px;
	background-color: #686c7b !important;
}

.checkmark {
	position: absolute;
	left: 0;
	height: 26px;
	width: 22px;
}

.icon-plus-blue {
	transform: scale(0.5);

	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-position: -168px 0;
	-moz-mask-position: -168px 0;
	-ms-mask-position: -168px 0;
	-o-mask-position: -168px 0;
	mask-position: -168px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #02a3ec !important;
}

.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
i {
	display: block;
}
.mi-close-2 {
	-webkit-mask-position: -153px -251px !important;
	-webkit-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
}

.mi-pencil {
	width: 24px !important;
	height: 24px !important;
	background: url("/assets/img/Icon.de5bb0db.svg") -216px 0 no-repeat !important;
}

.icon-delete,
.icon-delete-custom {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-moz-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-ms-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-o-mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	mask-image: url("/assets/img/Icon_process.93f7e484.svg");
	-webkit-mask-position: -264px 0;
	-moz-mask-position: -264px 0;
	-ms-mask-position: -264px 0;
	-o-mask-position: -264px 0;
	mask-position: -264px 0;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-close,
.mi-close-2 {
	background-color: $icon-default-color !important;
}
.mi-close,
.mi-close-2,
.mi-close-grey {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	mask-image: url("/assets/img/Icon.de5bb0db.svg");

	-webkit-mask-position: -216px -24px;
	-moz-mask-position: -216px -24px;
	-ms-mask-position: -216px -24px;
	-o-mask-position: -216px -24px;
	mask-position: -216px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}


.mi-chevron-down {
	background-color: $icon-default-color !important;
}
.mi-chevron-down,
.mi-chevron-down-black {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	mask-image: url("/assets/img/Icon.de5bb0db.svg");

	-webkit-mask-position: -144px -24px;
	-moz-mask-position: -144px -24px;
	-ms-mask-position: -144px -24px;
	-o-mask-position: -144px -24px;
	mask-position: -144px -24px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.mi-check {
	width: 24px;
	height: 24px;
	-webkit-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-moz-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-ms-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-o-mask-image: url("/assets/img/Icon.de5bb0db.svg");
	mask-image: url("/assets/img/Icon.de5bb0db.svg");
	-webkit-mask-position: -48px -96px;
	-moz-mask-position: -48px -96px;
	-ms-mask-position: -48px -96px;
	-o-mask-position: -48px -96px;
	mask-position: -48px -96px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: $blue-color !important;
}
