$primary-color: blue;
$header-height: 56px;
$border-color: #e7e8e9;
$text-color: #2c3e50;
$button-primary-color: #fff;
$button-primary-normal-bg-color: #02a3ec;
$button-primary-normal-border-color: #02a3ec;
$blue-color: #02a3ec;
$input-hover-border-color: #02a3ec;
$icon-default-color: #686c7b;
$text-primary-color: #171b2a;
$primary-bg: #f3fbfd;
$dropdown-item-hover: #eff1f6;
$table-row-hover: #dbf4ff;
$button-primary-hover-bg-color:#02a3ec;
$button-primary-hover-border-color: #02a3ec;